

body {
  background-color: black;
  color: #1CFF11;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.5rem;
}
.user-input {
  background-color: black;
  color: #1CFF11;
  border: 0px;
  box-shadow: none !important;
  outline: none;
  padding: 3px;
  height: 1.5rem; 
  width: 200px;
  position: relative;
  bottom: 6px;
  
}

.btn {
  background-color: black;
  color: #1CFF11;
  border: 0px;
  height: 1.5rem; 
}
.account-btn{
  position:absolute;
  color: green;
  top: 0;
  right: 0;
  padding: 5px;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.cred {
  position: relative;
  top: 0;
}
.bottom {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.title {
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  margin: 0;
}
.box {
  height: calc(100vh - 44px);
  display: flex;
  width: 100vw;
}